# --- Framework & API ---
Django>=5.0.2
djangorestframework
python-dotenv
django-cors-headers
django-filter
gunicorn

# --- Database ---
psycopg2-binary
pgvector

# --- Machine Learning (CPU Optimized) ---
--extra-index-url https://download.pytorch.org/whl/cpu
torch
transformers
sentence-transformers

# --- Async Tasks & Caching ---
celery>=5.3.0
redis>=5.0.0
django-celery-results>=2.5.0